@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.test {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20id%3D%22svg%22%20viewBox%3D%220%200%201440%20590%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20class%3D%22transition%20duration-300%20ease-in-out%20delay-150%22%3E%3Cpath%20d%3D%22M%200%2C600%20L%200%2C150%20C%2078.24665063552044%2C114.11198900721402%20156.49330127104088%2C78.22397801442804%20220%2C105%20C%20283.5066987289591%2C131.77602198557196%20332.27344555135693%2C221.21607694950188%20392%2C254%20C%20451.72655444864307%2C286.7839230504981%20522.4129165235314%2C262.9117141875645%20601%2C285%20C%20679.5870834764686%2C307.0882858124355%20766.0748883545174%2C375.13706630024046%20843%2C393%20C%20919.9251116454826%2C410.86293369975954%20987.2875300583992%2C378.5400206114737%201047%2C399%20C%201106.7124699416008%2C419.4599793885263%201158.774991411886%2C492.70285125386465%201223%2C535%20C%201287.225008588114%2C577.2971487461353%201363.612504294057%2C588.6485743730677%201440%2C600%20L%201440%2C600%20L%200%2C600%20Z%22%20stroke%3D%22none%22%20stroke-width%3D%220%22%20fill%3D%22%23006f66%22%20fill-opacity%3D%220.53%22%20class%3D%22transition-all%20duration-300%20ease-in-out%20delay-150%20path-0%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M%200%2C600%20L%200%2C350%20C%2071.94022672621091%2C368.4919271727929%20143.88045345242182%2C386.9838543455857%20215%2C400%20C%20286.1195465475782%2C413.0161456544143%20356.4184129165236%2C420.5565097904501%20422%2C432%20C%20487.5815870834764%2C443.4434902095499%20548.4458948814842%2C458.79010649261414%20616%2C463%20C%20683.5541051185158%2C467.20989350738586%20757.7980075575401%2C460.28306423909316%20826%2C501%20C%20894.2019924424599%2C541.7169357609068%20956.3620748883548%2C630.0776365510134%201018%2C673%20C%201079.6379251116452%2C715.9223634489866%201140.7536928890415%2C713.4063895568532%201211%2C727%20C%201281.2463071109585%2C740.5936104431468%201360.6231535554793%2C770.2968052215733%201440%2C800%20L%201440%2C600%20L%200%2C600%20Z%22%20stroke%3D%22none%22%20stroke-width%3D%220%22%20fill%3D%22%23006f66%22%20fill-opacity%3D%221%22%20class%3D%22transition-all%20duration-300%20ease-in-out%20delay-150%20path-1%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 448px;
}
.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 448px;
}
.gmap_iframe {
  height: 448px !important;
}
